/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
    margin: 0;
    padding: 0;
}

*{
    box-sizing:border-box;
}

body {
    font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

html,body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

li {
    float:left;
    list-style: none;
    padding:33px 20px;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    font-family: serif;
}

.header{
    height:100px;
    background-color:#000000;
    color:#fff;
    position:fixed;
    opacity:0.8;
    top:0;
    z-index:10;
    width:100%

}

.header a{
    color:#fff;
}

.header-logo{
    padding:20px 40px;
    font-size:36px;
}

.header-logo {
    float:left;
}

.header-list {
    float:left;
}




.box {
    width: 100%; 
    height: 100%; 
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.bg-ttl {
    color:#5983ff;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}

.up-icon{
    vertical-align: top;
    text-align: center;
    display: none;
    background: rgba(0, 0, 0, 0.75);
    width: 52px;
    height: 52px;
    padding-top: 13px;
    border-radius: 50%;
    color: #e3e3e3;
    font-size: 24px;
    margin: 0 15px;
    position: fixed;
    right: 0;
    bottom: 0;
}




.main{
    padding-top:180px;
    padding-bottom:100px;
    background-image:url(https://img.atcoder.jp/icons/5e90b42b953ca5d6df9682dddb870fc2.jpg);
    background-size:cover;
    background-color: rgba(255,255,255,0.7);
    background-blend-mode:lighten;
    height:100%;
}

.text-contents{
    display:none;
}





.text1{
    font-size:50px;
    padding-top:200px;
    padding-bottom:10px;
    color:rgb(0, 0, 0);
}

.text2{
    font-size:30px;
    padding-top:225px;
    padding-bottom:10px; 
    color:rgb(0, 0, 0);
}

.text3{
    font-size:30px;
    padding-top:250px;
    padding-bottom:10px; 
    color:rgb(0, 0, 0);
}

.text4{
    font-size:30px;
    padding-top:275px;
    padding-bottom:10px; 
    color:rgb(0, 0, 0);
}

.text5{
    font-size:30px;
    padding-top:300px;
    padding-bottom:10px; 
    color:rgb(0, 0, 0);
}

a{
    text-decoration: none;
}

a:hover {
    color: #5983ff;
    text-decoration: none;
}



.lesson-wrapper {
    padding-bottom: 80px;
    background-color: #f1f1f1;
    /* text-alignをcenterに指定してください */
    text-align:center;
    display:flex;
}

.clear{
    clear:left;
}


.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
}

.heading h2 {
    font-weight: normal;
}

.lesson {
    float: left;
    width: 25%;
    flex:auto;
}

/* lesson-iconクラスのCSSを指定してください */
.lesson-icon{
    position:relative;
    margin:0 auto;
}




/* lesson-iconの中の<p>のCSSを指定してください */
.lesson-icon p{
    font-size:30px;
    position:absolute;
    top:90px;
    width:100%;
    color:rgb(255, 0, 251);
    font-family: sans-serif;
}


/* txt-contentsクラスのCSSを指定してください */
.txt-contents{
    width:80%;
    display:block;
    margin:3% auto;
    font-size:15px;
    color:#f1f1f1;
}

.text-active{
    display:block;
    color:black;
}
  
  


footer {
    text-align: center;
    padding: 40px 0;
    color: #999;
    background-color: #222;
}
  
.social-icon {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    background: rgba(94, 144, 255, 0.75);
    width: 52px;
    height: 52px;
    padding-top: 13px;
    border-radius: 50%;
    color: #e3e3e3;
    font-size: 24px;
    margin: 0 15px;
}

.social-icon:hover{
    color: #e3e3e3;
    background-color: rgb(94, 144, 255);
}

.copyright {
    margin-top: 20px;
}

.modal{
    float:right;
    cursor: pointer;
    color:black;
    padding: 25px 0;
    display:none;
}

.header-list2{
    width:400px;
    background-color:black;
    top:0;
    right:0;
    opacity:1;
    z-index: 100;
    position: fixed;
    display:none;
}
.header-list2 li{
    font-size: 40px;
}

.fa-times{
    float: right;
    cursor: pointer;
}








/* タブレット向けレイアウト */
@media (max-width: 1000px) {
    .lesson-wrapper {
        flex-wrap: wrap;
        
    }
    .lesson{
        width: 50%;
    }

    .header-list {
        display:none;
    }

    .modal{
        color:#fff;
        display:block;
    }

    .header-list2{
        width:400px;
        background-color:black;
        top:0;
        right:0;
        opacity:1;
        z-index: 100;
        position: fixed;
        display:none;
    }
    .header-list2 li{
        font-size: 40px;
    }
}



  

@media (max-width: 670px) {
    .lesson{
        width:100%;
    }
      
      /* <footer>の中身を中央寄せにしてください。 */
    footer{
        text-align:center;
    }

    .header-list {
        display:none;
    }

    .modal{
        color:#fff;
        display:block;
    }

    .header-list2{
        width:400px;
        background-color:black;
        top:0;
        right:0;
        opacity:1;
        z-index: 100;
        position: fixed;
        display:none;
    }
    .header-list2 li{
        font-size: 40px;
    }
    
  }




